@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #f3ece3;
  --foreground: #1d1a17;
  --primary: #1f2b5b;
  --secondary: #55402b;
  --border: #E1BC6B;
  --muted: #ede4d8;
  --accent: #d9cbb7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-text: var(--font-quando);
  --font-title: var(--font-great-vibes);
}

html {
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text), sans-serif;
}
