@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #141919;
  --foreground: #E5E5E5;
  --primary: #408080;
  --secondary: #000000;
  --border: #414141;
  --muted: #414141;
  --accent: #414141;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --font-text: var(--font-quando);
  --font-title: var(--font-great-vibes);
}

html {
  background: var(--background);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-text), sans-serif;
}
